
server:
  port: 8083
  servlet:
    context-path: /workflow  
      
spring:
  application:
    name: workflow

  
    
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    #(For local laptop)
    #url: jdbc:mysql://localhost:3307/workflows  
    #(for point mysql in host machine (laptop) host.docker.internal)
    #url: jdbc:mysql://host.docker.internal:3307/workflows
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    
  jpa:
    hibernate: 
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect  

eureka:
  client:
    register-with-eureka: true       # restister to eureka
    fetch-registry: true    
    service-url:
      #defaultZone: http://localhost:8761/eureka/ 
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE} 

##--------- fien properties ---------

user:
  contextPath: "/user"
  url: "http://127.0.0.1:8081" 

kafka:
  contextPath: "/kafka"
  url: "http://127.0.0.1:8082"    
        
workflow:
  contextPath: "/workflow"
  url: "http://127.0.0.1:8083" 

security:
  contextPath: "/security"
  url: "http://127.0.0.1:8084"


  ## ----------- SECURITY PROPERTIES -------
  jwt:
    secret: bXlTdXBlclNlY3VyZUhTNTEyS2V5VGhhdElzQXRMZWFzdDY0Qnl0ZXNMb25nRm9yU2VjdXJlSldUVG9rZW5TaWduaW5nMTIzNDU2
    access-ttl-seconds: 36000
    refresh-ttl-seconds: 86400
    issuer: saurabh.com