server:
  port: 8084

  servlet:
    context-path: /security
    
spring:
  application:
    name: security

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    #(For local laptop)
    url: jdbc:mysql://localhost:3307/microservice  
    username: root
    password: root
    #(for point mysql in host machine (laptop) host.docker.internal)
    #url: jdbc:mysql://host.docker.internal:3307/microservice
    #url: ${MYSQL_URL}
    #username: ${MYSQL_USERNAME}
    #password: ${MYSQL_PASSWORD}
    
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    show-sql: true
    
eureka:
  client:
    register-with-eureka: true       # restister to eureka
    fetch-registry: true    
    service-url:
      defaultZone: http://localhost:8761/eureka/ 
      #defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}   

##--------- fien properties ---------

user-mgmt:
  contextPath: "/user-mgmt"
  url: "http://127.0.0.1:8081" 

kafka:
  contextPath: "/kafka"
  url: "http://127.0.0.1:8082"    
        
workflow:
  contextPath: "/workflow"
  url: "http://127.0.0.1:8083"      

security:
  contextPath: "/security"
  url: "http://127.0.0.1:8084" 
  
  jwt: 
    secret: bXlTdXBlclNlY3VyZUhTNTEyS2V5VGhhdElzQXRMZWFzdDY0Qnl0ZXNMb25nRm9yU2VjdXJlSldUVG9rZW5TaWduaW5nMTIzNDU2
    access-ttl-seconds: 36000 
    refresh-ttl-seconds: 86400
    issuer: saurabh.com  
  